@* <--!Strong View--> *@
@model List<Instructor>

<div class="card-container">
    @foreach (var instructor in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="/Img/@instructor.Img" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@instructor.Name</h5>
                <div class="button-container">
                    <a href="/Instructors/Details/@instructor.Id" class="btn btn-primary">View Details</a>
                    <a href="/Instructors/EditInstructor/@instructor.Id" class="btn btn-primary">Edit</a>
                </div>

            </div>
        </div>
    }
    <div class="btn-outline-light">

    <a href="/Instructors/NewInstructor" class="btn btn-primary">Add New Instructor</a>

    </div>
</div>

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card {
        flex: 1 1 18rem;
    }
</style>


<style>
    .button-container {
        display: flex;
        gap: 10px;  
    }
</style>